body {
    font-family: "Roboto", sans-serif;
    background: #655643;
}

label {
    margin-right: 4px;
    display: block;
}

.paper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.field {
    margin: 16px 0;
}

.content {
    padding: 0px 16px;
}
