body {
    font-family: "Roboto", sans-serif;
    background: #655643;
}

label {
    margin-right: 4px;
    display: block;
}

.paper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.error {
    padding: 10px 16px;
    background-color: #bf4d28;
    color: #FFFFFF;
}

.label {
    margin-bottom: 12px;
}

.info {
    border-radius: 4px;
    margin-bottom: 8px;
}

.field {
    margin: 16px 0;
}

.content {
    padding: 10px 16px;
}
