body {
    background: cornsilk;
}

label {
    margin-right: 4px;
}

.paper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

fieldset {
    border: none;
}
